/*
    
TemplateMo 556 Catalog-Z

https://templatemo.com/tm-556-catalog-z

*/


/*NEW STUFF*/


/*INITIAL VERSION*/
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;

  -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

  z-index: 1002;
}

  #loader:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #e74c3c;

      -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
  }

  #loader:after {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #f9c922;

      -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
  }

  @-webkit-keyframes spin {
      0%   { 
          -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
          -ms-transform: rotate(0deg);  /* IE 9 */
          transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
      }
      100% {
          -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
          -ms-transform: rotate(360deg);  /* IE 9 */
          transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
      }
  }
  @keyframes spin {
      0%   { 
          -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
          -ms-transform: rotate(0deg);  /* IE 9 */
          transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
      }
      100% {
          -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
          -ms-transform: rotate(360deg);  /* IE 9 */
          transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
      }
  }

  #loader-wrapper .loader-section {
      position: fixed;
      top: 0;
      width: 51%;
      height: 100%;
      background: #222222;
      z-index: 1001;
      -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: translateX(0);  /* IE 9 */
      transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
  }

  #loader-wrapper .loader-section.section-left {
      left: 0;
  }

  #loader-wrapper .loader-section.section-right {
      right: 0;
  }

  /* Loaded */
  .loaded #loader-wrapper .loader-section.section-left {
      -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
          -ms-transform: translateX(-100%);  /* IE 9 */
              transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

      -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
              transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }

  .loaded #loader-wrapper .loader-section.section-right {
      -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
          -ms-transform: translateX(100%);  /* IE 9 */
              transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
      transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }
  
  .loaded #loader {
      opacity: 0;
      -webkit-transition: all 0.3s ease-out;  
              transition: all 0.3s ease-out;
  }
  .loaded #loader-wrapper {
      visibility: hidden;

      -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
          -ms-transform: translateY(-100%);  /* IE 9 */
              transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

      -webkit-transition: all 0.3s 1s ease-out;  
              transition: all 0.3s 1s ease-out;
  }

p { line-height: 1.8; }

a { 
  text-decoration: none;
  transition: all 0.3s ease; 
}
a:hover { color:#009999; }

.container-fluid {
  display: flex;
  justify-content: flex-end;
  max-width: 1770px; 
  padding-right: 50px;
  padding-top: 30px;
}

.tm-container-small { max-width: 1050px; }
.btn { border-radius: 0; }
.btn-primary {
  background-color: #009999;
  border: 0;
  border-radius: 5px;
  padding: 12px 50px 14px;
  font-size: 1.2rem;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color:#086969;
}

.btn-primary.disabled, 
.btn-primary:disabled {
  background-color: #009999;
  pointer-events: all;
  cursor: not-allowed;
}

.form-control {
padding: 10px 20px;
width: 100%;
height: auto;
}

.tm-btn-big { padding: 12px 90px 14px; }

.navbar-toggler:focus { box-shadow: none; }
.navbar-brand {
  color: #3399CC;
  font-size: 1.6rem;
}

.navbar-brand i { font-size: 2rem; }

.tm-hero {
  min-height: 200px;
  background: transparent;
}

.tm-mt-60 { margin-top: 60px; }
.tm-mb-50 { margin-bottom: 50px; }
.tm-mb-74 { margin-bottom: 74px; }
.tm-mb-90 { margin-bottom: 90px; }
.tm-text-primary { color: #009999; }
.tm-text-secondary { color: #CC6699; }
a.tm-text-primary:hover { color:#666666; }
.tm-bg-gray { background-color: #EEEEEE; }
.tm-input-paging {
  width: 40px;
  border-radius: 0;
  border: 1px solid #CCCCCC;
  background: #f4f4f4;
  text-align: center;
}

.nav-item { margin-right: 30px; }
.nav-item:last-child { margin-right: 0; }


.nav-link {
  color: #666666;
  border-bottom: 4px solid transparent;
  font-size: 1.2rem;
  padding: 5px;  
  border: 2px solid #086969;
  border-radius: 7px;
}

.nav-link.active,
.nav-link:hover {
  border: 3px solid #11d2d2;
}


.navbar-nav{
  display: flex;
  flex-flow: row;
}

p, .tm-text-gray { color: #999; }
.tm-text-gray-light { color: #CCC; }
.tm-text-gray-dark { color: #666; }


@keyframes show {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


@media (max-width: 991px) {
  .navbar-collapse {
      position: fixed;
      top: 50px;
      right: 0px;
      background: white;
      width: 150px;
      padding: 15px;
  }
}



@media (max-width: 575px) {
  .tm-container-content { max-width: 420px; }

}

@media (max-width: 400px) {
  .tm-btn-big { padding: 12px 50px 14px; }
}


/*styles.css*/
/* Global css */
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  color: #000;
  background-color: #f7f7f7;
  min-width: 350px;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

a::after {
  display: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(90, 88, 88, 0.01);
}

::-webkit-scrollbar-thumb {
  background: rgba(121, 119, 119, 0.651);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(77, 75, 75, 0.76);
}

.btn {
  background: #2a87a5;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-weight: bold;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.75);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}

.modal {
  width: 25rem;
  position: absolute;
  max-height: 90vh;
  margin: auto;
  border-radius: 20px;
  background-color: white;
  padding: 1rem;
  box-shadow: 0 2px 8px rgb(0 0 0 / 25%);
  z-index: 30;
  margin-top: 50px;
}

@media (min-width: 930px) {
  .modal {
    width: 25rem;
    left: calc(50% - 20rem);
    border-radius: 14px;
  }
}

/* Header styles */
.header {
  width: 100%;
  height: 4rem;
  display: flex;
  padding: 0 10%;
  justify-content: center;
  align-items: center;
  background: #24292f;
}

.logo {
  font-size: 1.2rem;
  color: white;
}

.logo .description {
  margin-left: 10px;
}

@media (max-width: 768px) {
  .header {
    padding: 0 5%;
    height: 4rem;
  }
  .header .logo {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .logo .description {
    font-size: 1rem;
    margin-left: 0px;
  }
}

/* Main  */
.main {
  margin: 3rem auto;
  width: 92%;
  min-height: calc(100vh - 13rem);
}

@media (max-width: 768px) {
  .main {
    margin: 1rem auto;
    min-height: calc(100vh - 9rem);
  }
}

/* Section  */
.card {
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 2px 5px #ccc;
}

.users-container {
  width: 100%;
}

/* Table  */
.table-wrapper {
  position: relative;
  height: calc(100vh - 20rem - 40px);
  overflow-y: scroll;
  background: white;
  overflow: auto;
  width: 100%;
  margin-bottom: 5px;
}

.table {
  width: 100%;
}

.table thead {
  position: sticky;
  width: 100%;
  top: 0;
  background: white;
  z-index: 1;
}
.table thead tr {
  background-color: #2a87a5;
  color: white;
}
.table th {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  padding: 8px;
  text-align: center;
}

.table th:hover {
  cursor: pointer;
  text-decoration: underline;
}

.icon {
  height: 13px;
}

.table th:hover .icon {
  opacity: 1;
}

.table th .icon {
  margin-left: 10px;
  opacity: 0;
}

.table th .active-icon {
  opacity: 1;
}

.table tr th,
.table tr td {
  width: 14.28%;
}

.table tbody tr {
  margin: 0px 5px;
  height: 64px;
}
.table tbody td {
  line-height: 1.5rem;
  text-align: center;
  vertical-align: middle;
  font-weight: 300;
  padding: 5px;
  height: 64px;
}

.table td.center {
  text-align: center;
}
.table tbody {
  position: relative;
}

.table tbody tr:nth-child(1n) {
  background: rgba(7, 6, 6, 0.3);
  color: white;
}
.table tbody tr:nth-child(2n) {
  background: rgba(199, 198, 198, 0.3);
  color: black;
}

.table tbody tr:hover {
  background: rgba(90, 133, 150, 0.514);
}

.table tr.loading {
  background-color: transparent !important;
}

.loading-shade {
  position: absolute;
  top: 40px;
  left: 0;
  bottom: 0px;
  right: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-content {
  text-align: center;
}

.error {
  text-align: center;
  color: #943232;
}

.no-content .icon,
.error .icon {
  font-size: 5rem;
  color: #943232;
}

@media (max-width: 768px) {
  .table {
    width: 800px;
  }
  .table-wrapper::-webkit-scrollbar {
    height: 10px;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .table-wrapper::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    background: #999;
  }
  .table td,
  .table th {
    text-align: left;
  }
}

/* Loading pinner  */
.spinner {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  z-index: 55;
}
.spinner:after {
  content: '';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid teal;
  border-color: teal transparent teal transparent;
  animation: spinner 1.2s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Search Bar  */
.search-form {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  background-color: #24292f;
  color: white;
  padding: 10px 20px;
}

.search-form h2 {
  font-size: 18px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.search-form h2 > span {
  margin-left: 10px;
}

.search-input-container {
  display: flex;
  justify-content: center;
  width: 50%;
  position: relative;
}
.search-form input,
.search-form select {
  background: transparent;
  outline: none;
  color: white;
  border: 1px solid #5f6063;
}
.search-form select {
  border: none;
  border-bottom: 1px solid #5f6063;
}

.search-form input {
  background: white;
  border-right: none;
  width: 100%;
  padding: 0px 10px;
  color: black;
}

.search-form select option {
  color: black;
}

.search-form select:hover,
.search-form select:focus {
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.search-form input:hover,
.search-form input:focus {
  border: 1px solid #ccc;
  border-right: none;
}
.search-form input:hover + button,
.search-form input:focus + button {
  border: 1px solid #ccc;
  border-left: none;
}

.search-form .icon {
  color: white;
  position: relative;
}

.search-form .btn {
  background: transparent;
  border: 1px solid #5f6063;
  border-left: none;
  border-radius: 0px;
  color: white;
  padding: 0.5rem;
  height: auto;
}

.search-form .close-btn {
  background-color: #943232;
}

.filter {
  display: flex;
  align-items: center;
}

.filter > span {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.criteria {
  margin-right: 20px;
}

@media (max-width: 768px) {
  .search-form {
    flex-direction: column;
    height: 6rem;
  }
  .search-form h2 {
    display: none;
  }
  .search-input-container {
    width: 100%;
  }
  .filter {
    justify-content: center;
  }
}

/* Td */
.image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50px;
  padding: 2px;
  border: 1px solid rgb(147, 145, 145);
  display: flex;
  margin: auto;
}

.actions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 120px !important;
  margin: auto;
}

.actions svg {
  font-size: 1rem;
}

/* Action buttons  */

.btn:disabled,
.btn.save:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.5);
}

.btn:disabled svg,
.btn.save:disabled svg {
  color: #ccc;
}

.btn:hover {
  opacity: 0.9;
  box-shadow: 1px 2px 8px black;
}

.btn svg {
  color: inherit;
  font-size: 1.25rem;
}

.btn.save {
  background-color: rgb(81, 194, 123);
}

.btn.cancel {
  background-color: rgb(231, 108, 108);
}

.btn.close {
  background-color: transparent;
  padding: 5px 10px;
  height: auto;
}

.btn.close svg {
  color: black;
}

.before {
  margin-right: 10px;
}
.after {
  margin-left: 10px;
}

.btn {
  padding: 5px;
  color: white;
  opacity: 0.7;
  width: 30px;
  height: 30px;
}
.btn svg {
  margin: 0;
}

.btn:hover {
  opacity: 1;
}

.delete-btn {
  background-color: #d9534f;
}

.edit-btn {
  background-color: #5cb85c;
}

/* Add user button  */
.btn-add {
  padding: 5px 20px;
  height: auto;
  width: auto;
  margin-left: 2px;
}

/* Paggination  */
.pagination {
  text-align: center;
  display: flex;
  align-items: center;
  height: 3rem;
  padding: 0px 10px;
  justify-content: flex-end;
}

.pagination.left {
  justify-content: flex-start;
}

.pagination.right {
  justify-content: flex-end;
}

.pagination.center {
  justify-content: center;
}

.pagination .limit {
  margin-left: 5px;
  border: none;
  border-bottom: 1px solid black;
}

.pagination .limit:hover {
  cursor: pointer;
}

.pagination .btn {
  background-color: transparent;
  color: black;
}

.pagination button {
  padding: 5px 10px;
}

.pages {
  color: rgb(0, 0, 0);
  padding: 0px 20px;
  margin: 0;
  margin-top: 5px;
}

.pagination .actions {
  display: flex;
  margin: 0px;
}

@media (max-width: 768px) {
  .pagination {
    padding: 0px;
    margin: auto;
  }
  .limits > span {
    display: none;
  }
}

/* Loading and error overlap components  */
.loading-shade {
  position: absolute;
  top: 40px;
  left: 0;
  bottom: 0px;
  right: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-overlap {
  text-align: center;
  margin-right: 30px;
}

.loading-shade svg {
  font-size: 5rem;
  color: #943232;
  height: 110px;
  width: 120px;
  margin: auto;
}

/* User details styles  */
.detail-container {
  width: 100%;
  height: 40vh;
}

.headers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 5px 0px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.header h2 {
  margin-bottom: 0px;
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 20px;
}

.image-container {
  margin-right: 20px;
}

.image-container img {
  border-radius: 50%;
  width: 210px;
  height: 210px;
  object-fit: cover;
  flex: 4;
}

.user-details {
  flex: 8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 0px !important;
}
.user-details p {
  margin-bottom: 10px;
}
.user-details p:last-of-type {
  margin-bottom: 0px;
}

@media (min-width: 681px) and (max-width: 1000px) {
  .detail-container {
    height: 66vh;
  }
  .content {
    flex-direction: column;
    align-items: center;
  }
  .image-container {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .image-container img {
    width: 140px;
    height: 140px;
  }
}

@media (max-width: 680px) {
  .detail-container {
    min-width: 66vw;
    min-height: 75vh;
    width: 100%;
    height: auto;
  }
  .content {
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
  }
  .image-container {
    margin-right: 0px;
    display: flex;
    justify-content: center;
    margin: 10px 0px;
  }
  .image-container img {
    width: 120px;
    height: 120px;
  }
  .user-details {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    max-width: 400px;
  }
}

@media (max-width: 600px) {
  .detail-container {
    min-width: 63vw;
    min-height: 70vh;
    width: 100%;
    height: auto;
  }
  .user-details {
    align-items: stretch;
  }
}

@media (max-width: 400px) {
  .detail-container {
    min-width: 63vw;
  }
  .user-details > p {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Add/Edit form styles  */
.user-container {
  width: 100%;
  height: 100%;
}


.header h2 {
  margin-bottom: 0px;
}

.input-wrapper, .textfield-wrapper {
  display: flex;
  align-items: stretch;
  width: 100%;
}

.input-wrapper input {
  width: 100%;
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid #d5dee6;
  height: 50px;
  padding: 6px 12px;
  background-color: #f7f7f7;
  border-radius: 0.5rem;
}


.textarea-wrapper textarea {
  width: 100%;
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid #d5dee6;
  padding: 6px 12px;
  background-color: #f7f7f7;
  border-radius: 0.5rem;
}

.form-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}


.form-group {
  margin-right: 10px;
  margin-bottom: 25px; 
  width: 100%;
}

.form-group .form-error {
  color: #d9534f;
  min-height: 20px;
}

.long-line {
  width: 98%;
  margin-top: 15px;
}

#form-actions {
  margin-top: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}

#action-save {
  width: 5em;
  height: 3em;
  margin-right: 20px;
  background-color: rgb(81, 194, 123);
}

#action-cancel {
  width: 5em;
  height: 3em;
  margin-right: 20px;
  background-color: rgb(231, 108, 108);
}

/* Footer styles */
.footer {
  text-align: center;
  width: 100%;
  height: 3rem;
  padding: 10px;
  color: white;
  background: #24292f;
}

.footer p {
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  /* Footer  */
  .footer p {
    font-size: 0.9rem;
  }
}

.errorText{
  color: red;
  font-weight: 600;
  font-style: italic;
}